/* =======================================
 *			主题部分CSS
 *	未来将考虑增加主题切换功能，在这里提前做点准备
 * ======================================= */

.music-header {
	background-color: #31c27c;
}
.music-header-2 {
	background-color: transparent;
}
.music-list {
	background-color: #F4F4F4;
}
.music-cell-type1 {
	background-color: #F4F4F4;
}