.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F4F4F4;
  overflow: hidden;
  .page-content {
  	position: absolute;
    padding-top: $header-height;
    margin-bottom: $bottom-height;
  	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    overflow: auto;
    // touch-action: none;                 // prevent default touch action
    -webkit-overflow-scrolling: touch;  // scroll effect optimize in safari
  }
}