.music-header,.music-header-2 {
    justify-content: space-between;
	font-size: 18px;
	.mint-header-title {
		margin: 0 10px;
		text-overflow: initial;
	}
	.mintui-back  {
		font-size: 23px;
	}
	.mint-header-button {
		flex: 0;
	}
}


// Playing Header
.music-header-3 {
	background-color: transparent;
	.mint-header-title {
		font-size: 20px;
	}
}
